[submodule "lld"]
	path = tools/lld
	url = https://github.com/ldc-developers/lld.git
[submodule "projects/compiler-rt"]
	path = projects/compiler-rt
	url = https://github.com/llvm-mirror/compiler-rt.git
